.carForm {
    margin: 25px 0;
    border: 2px solid cornflowerblue;
    padding: 5px;
    height: 70px;
}
.carForm form {
    display: flex;
    column-gap: 20px;
    justify-content: center;

}
.errors {
    display: flex;
    align-items: center;
    flex-direction: column;
}

